<div class="footer-container">
  <div class="footer-icon-container">
    <div class="footer-block">
      <p><img src="/assets/img/ico-lock.svg">&nbsp; Completely Secure</p>
    </div>

    <div class="footer-block">
        <p><img src="/assets/img/ico-chat.svg">&nbsp; Fast Friendly Service</p>
    </div>

    <div class="footer-block">
        <p><img src="/assets/img/ico-pencil.svg">&nbsp; Online Finance Application</p>
    </div>

    <div class="footer-block">
      <p><img src="/assets/img/ico-lpl.svg">&nbsp; Connecting Buys &amp; Sellers</p>
    </div>

  </div>
</div>