<!-- start landing page -->
<div class="container">
  <div class="bg-opacity"></div>
  <div class="landing-page-box">
    
    <!-- start left hand side-->
    <div class="lhs">
      <div class="info-box">
        <img src="/assets/img/ico-car.svg">
        <h2>The future of digital car buying</h2>
        <h3>Digital car buying, quick, easy <span class="clr-bl">and 100% safe.</span></h3>
      </div>
    </div>

    <!-- start right hand side -->
    <div class="rhs">
      <div class="form-box">
        <h3>Let me know when it’s available</h3>
        <app-form-input label="Name" placeholder="" type="text"></app-form-input>
        <app-form-input label="Email" placeholder="" type="text"></app-form-input>

        <div class="signup-button">
            <app-button label="Sign Up"></app-button>
        </div>
        
      </div>
    </div>


  </div>
</div>